body {
    position: relative;
}
.page-header {
    padding:40px 0 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
h1 small {
    font-size: .75rem;
    color: #777;
    margin-left: .5rem;
}

.tools-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 4rem 2rem 0 0;
    height: calc(100vh - 4rem);
    overflow-y: auto;
}
.results-area {
    padding: 4rem 0 0 0;
    text-align: center;
    overflow-y: hidden;
}
input[type='number'] {
    display: none;
}
.tools-sidebar .nav>.nav-link {
    padding: .2rem 1rem;
    color: #777;
}
.tools-sidebar .nav>a:hover {
    color: #2083d7;
    border-left: 1px solid #2083d7;
}
.tools-sidebar .nav>.active:focus,
.tools-sidebar .nav>.active:hover,
.tools-sidebar .nav>.active  {
    padding-left: 1.3rem;
    font-weight: 700;
    color: #2083d7;
    border-left: 2px solid #2083d7;
}

.confirm-body button {
    min-width: 10rem;
}

.alert {
    text-align: left;
}

figure {
    padding-top: 1rem;
}

.num-col {
    padding: 0;
}

.input-block {
    text-align: center;
}

.input-block>.row>div {
    padding: 0 1rem 1rem 0;
}
.modal-dialog {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
